@use "../components/buttons" as *;
@use "../abstracts/breakpoints" as *;

.hero {
  width: 100%;
  overflow-x: hidden;
  gap: var(--xl);

  &-bg {
    background-image: url("../images/illustration-working.svg");
    background-repeat: no-repeat;
    background-size: 31rem;
    background-position: 2rem top;
    @include breakpoint(large) {
      background-size: 43rem;
      background-position: 53rem center;
    }
    @include breakpoint(xl) {
      background-position: 75rem center;
    }
  }
  &__textfield {
    text-align: center;
    button {
      @include btn-blue-rounded;
    }

    @include breakpoint(large) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      justify-content: center;

      p {
        padding-right: var(--xl);
      }
    }
  }
  > :nth-child(2) {
    grid-row: 1;
    padding-block: 10rem;
    @include breakpoint(large) {
      grid-column: 2;
    }
  }
  @include breakpoint(large) {
    gap: var(--2xl);
  }
}
