$colors: (
  neutral: (
    300: hsl(0, 0%, 95%),
    400: hsl(0, 0%, 85%),
    500: hsl(257, 7%, 63%),
    600: hsl(255, 11%, 22%),
    700: hsl(260, 8%, 14%),
  ),
  primary: (
    600: hsl(180, 66%, 49%),
    700: hsl(257, 27%, 26%),
  ),
  secondary: (
    400: hsl(0, 87%, 67%),
  ),
);
