$colors: (
  neutral: (
    700: hsl(0, 0%, 0%),
    600: hsl(0, 0%, 27%),
    500: hsl(0, 0%, 63%),
    400: hsl(0, 0%, 100%),
  ),
  primary: (
    700: hsl(0, 0%, 0%),
    600: hsl(0, 0%, 27%),
    500: hsl(0, 0%, 63%),
    400: hsl(0, 0%, 100%),
  ),
);
