$size: (
  small: (
    h1: 2.5rem,
    h2: 1.65rem,
    h3: 1.5rem,
    h4: 1.5rem,
    h5: 1.5rem,
    h6: 1.75rem,
    p: 1rem,
    a: 1.25rem,
    button: 1rem,
    strong: 1.25rem,
  ),
  large: (
    h1: 4.5rem,
    h2: 2.75rem,
    h3: 1.5rem,
    h4: 1.5rem,
    h5: 1.5rem,
    h6: 2.25rem,
    p: 1.2rem,
    a: 1.25rem,
    button: 1.15rem,
    strong: 1.25rem,
  ),
);

$weight: (
  primary: (
    500: 500,
    700: 700,
  ),
);
