$size: (
  small: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 2rem,
    h4: 2rem,
    h5: 2rem,
    h6: 2rem,
    p: 1.2rem,
    a: 1.25rem,
    button: 1.25rem,
  ),
  large: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 2rem,
    h4: 2rem,
    h5: 2rem,
    h6: 2rem,
    p: 1.2rem,
    a: 1.5rem,
    button: 1rem,
  ),
);

$weight: (
  primary: (
    500: 500,
    700: 700,
  ),
);
