@use "./fonts" as *;
@use "../abstracts/breakpoints" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@each $viewpoint, $value in $size {
  @each $tag, $size in $value {
    #{$tag} {
      @if ($viewpoint == small) {
        font-size: $size;
      } @else if ($viewpoint != small) {
        @include breakpoint($viewpoint) {
          font-size: $size;
        }
      }
    }
  }
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

p,
strong {
  font-weight: var(--fw-primary-500);
}
button {
  font-weight: var(--fw-primary-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--clr-primary-700);
}

p {
  line-height: 1.5;
  color: var(--clr-neutral-500);
}
